<%- include("include/head.ejs") %>
<body>
    <H1>This Account Belong to @ <%= data.name %></H1>

    <button>Follow</button> <button>Message</button>
    <h3>Your Follwers : <%= data.followers %> </h3>
    <h3>Your Following: <%= data.following %> </h3>

        <% for(let post of data.posts){%>
            <img src="<%= post.image%>" class="demo" alt=""> <br>
              <h3>Likes - <%= post.likes %> </h3>
              <h3>Comments - <%= post.comments %> </h3>
        <%}%>
        <%- include("include/footer.ejs") %>
</body>
</html>